body {
    margin: 0;
    overflow: hidden;
}

video {
    display: none;
}

#oldCanvas {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 20px;
    right: 20px;
    border: 4px solid black;
    background-color: aliceblue;
}

canvas {
    border : 4px dashed black;

}

.middle {
    margin-right: auto;
    margin-left: auto;
    margin-top:150px;
    margin-bottom: auto;
    width: 500px;
}

